<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="cats are awesome!">
    <meta property="og:url" content="http://cats-are-awesome.xyz">
    <meta property="og:image" content='https://pbs.twimg.com/media/FO-MIwgVgAAajyv?format=jpg&name=large'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/gnu-unifont" type="text/css"/> 
</head>

<body>
    <p style="text-align:center"><a href=http://cats-are-awesome.xyz>home</a> - <a href=http://cats-are-awesome.xyz/contact>contact</a> - <a href=http://api.cats-are-awesome.xyz>api</a></p>
    <p style="text-align:center">cats-are-awesome.xyz</p>
    <p style="text-align:center"><img src="{{ rnd }}"</p>
    <hr>
    <p style="text-align:center">welcum to da <strong>JINX API!!!</strong></p>
    <br>
    <p style="text-align:center">the jinx api is a little project i made that gives you random jinx (the cat) pics!</p>
    <br>
    <p style="text-align:center">the current endpoints are:</p>
    <p style="text-align:center">api.cats-are-awesome.xyz/imgs <br> api.cats-are-awesome.xyz/imgs/random</p>
</body>
